.mssqlMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .mssqlConnectionForm {
    width: 90%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .formHeader {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .inputField {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .primaryButton {
    width: 100%;
    padding: 10px;
    background-color: #0000FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .primaryButton:hover {
    background-color: #0056b3; /* Slightly darker blue on hover */
    transform: scale(1.05); /* Slight zoom effect */
  }
  
  .primaryButton:active {
    background-color: #003d80; /* Even darker blue when pressed */
    transform: scale(0.98); /* Slight shrink effect on click */
  }
  .statusMessage {
    margin-top: 10px;
    color: #19f024;
    font-weight: bold;
  }
  .mssqlDetailForm{
    width: 90%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .mssqlDatabases {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .databaseHeader {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .selectField {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .optionsContainer {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .checkboxLabel {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .infoBox {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }
  
  .infoBox.success {
    background-color: #e6ffed;
    color: #28a745;
    border: 1px solid #28a745;
  }
  
  .infoBox.error {
    background-color: #ffebeb;
    color: #dc3545;
    border: 1px solid #dc3545;
  }
  /* Style for the checkbox container */
.checkboxContainer {
  display: flex;
  align-items: center; /* Align vertically in the center */
  margin-bottom: 10px; /* Add spacing between each checkbox */
  margin-top: 10px;
}

/* Style for the input checkboxes */
.checkboxContainer input[type="checkbox"] {
  margin-right: 10px; /* Add spacing between the checkbox and the label */
  width: 16px;
  height: 16px;
}

/* Style for labels */
.checkboxContainer label {
  font-size: 14px;
  color: #333; /* Darker text for better readability */
}
.inputField{
 
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;

  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}