/* Sidebar container */
.sideMainBarContainer {
  background-color: #f4f4f4;
  margin: 2%;
  border-radius: 8px;
  width: 100%;

}

/* Header in the sidebar */
.sideBarContainer h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

/* Styling the Excel uploader section */
.excelUploader {
  margin-top: 20px;
  width: 80%;
}

.fileInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.fileInput:hover {
  border-color: #ed5729;
}

/* Display file info and worksheet select */
.fileInfo {
  margin-top: 10px;
}

.fileName {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

/* Styling the sheet selection dropdown */
.sheetSelect {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
}

.sheetSelect:hover {
  border-color: #ed5729;
}

.sheetSelect:focus {
  outline: none;
  border-color: #ed5729;
}
