/* Sidebar container */


.sideMainBarContainer{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    max-height: 85vh; /* Set the max height to control when scrolling starts */
    overflow-y: auto; /* Enable vertical scrolling */
}

  