/* Sidebar.css */
.excelDataTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .excelDataTable th, .excelDataTable td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .excelDataTable th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .bottomBarContainer {
    
    margin-top: 20px;
    padding: 20px;
    overflow-x: auto;
    overflow-y: scroll;
  }
  